.qv-object-my-table th {
	border-top: 0px solid #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    cursor: default;
    font-size: small;
}

.qv-object-my-table td {
	text-align: left;
    font-weight: normal;
    color: #5A5A5A;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 6px;
    border-top: 0px solid #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    cursor: default;
    font-size: small;
}

.qv-object-my-table th i.secondary {
	opacity: 0.3;
}


/*
.qv-object-my-table tr:nth-child(6n-2) td {
	background-color: rgba(54,183,207,0.13);
}

.qv-object-my-table tr:nth-child(6n-1) td {
	background-color: rgba(54,183,207,0.13);
}

.qv-object-my-table tr:nth-child(6n) td {
	background-color: rgba(54,183,207,0.13);
}*/

.qv-object-my-table .measureCell {
	text-align: right;
}

@media (max-width: 480px) {
	.qv-object-my-table td {
		font-size: 20px;
	}

	.qv-object-my-table th {
		font-size: 20px;
	}

	.qv-object-my-table td:nth-child(n+3) {
		display: none;
	}

	.qv-object-my-table th:nth-child(n+3) {
		display: none;
	}
}